<!-- Extends the base file -->
{% extends 'base.html' %}

<!-- Title for the page -->
{% block title %}Login/Sign Up{% endblock %}

<!-- SignUp Start -->
{% block contact %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Register</h6>
            <h1 class="mb-5">Your Welcome !</h1>
        </div>

        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <!-- Display Flash Messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flash-messages container mt-3">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                <form method="POST" class="form-register" style="color: black">
                    {{ form.hidden_tag() }}
                    <div class="form-group mb-3">
                        {{ form.username.label() }}
                        {{ form.username(class="form-control", placeholder="Username:") }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.email_address.label() }}
                        {{ form.email_address(class="form-control", placeholder="Email Address:") }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.password1.label() }}
                        {{ form.password1(class="form-control", placeholder="Password:") }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.password2.label() }}
                        {{ form.password2(class="form-control", placeholder="Confirm Password:") }}
                    </div>
                    <div class="form-group mb-4">
                        {{ form.submit(class="btn btn-primary w-100 py-3") }}
                    </div>
                    <div class="form-group">
                        <a href="{{ url_for('login_page') }}" class="btn btn-primary w-100 py-3" style="color: white">
                            Already have an account? / Login
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- SignUp End -->